* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }

  a {
    text-decoration: none;
  }
  
  header {
    padding: 20px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 1rem 0rem;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%; // Линия растягивается на всю ширину nav
        height: 1px;
        background-color: black;
        margin-left: -4rem; // Убираем эффект от padding
        width: calc(100% + 8.5rem); // Учитываем padding с обеих сторон
      }
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    > img {
      width: 120px;
    }
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  
    li a {
      text-decoration: none;
      color: #333;
      font-size: 16px;
      transition: color 0.3s ease;
  
      &:hover {
        color: #000;
      }
    }
  }
  
  .get-started {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #333;
    }
  }
  
  .header-content {
    display: flex;
    gap: 400px;
    align-items: center;
    margin-top: 50px;
  
    h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 18px;
      color: #555;
      margin-bottom: 30px;
    }
  
    .header-buttons {
      display: flex;
      gap: 15px;
      .try {
        background: black;
        cursor: pointer;
        transition: background-color 0.3s ease;
        padding: 10px 20px;
        >a {
          color: #fff;
        }
      }
  
      .learn-more {
        padding: 10px 20px;
        border: 1px solid #000;
        background-color: #fff;
  
        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
    .header-content-right {
        >img {
            height: 400px;
            width: 400px;
        }
    }
  }
  

  @media (max-width: 1400px) {
    .header-content {
      gap: 200px;
    }
  }

  @media (max-width: 1040px) {
    .nav-links {
      display: none;
    }
    .header-content {
      flex-direction: column;
      gap: 100px;
      .header-content-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }

  @media(max-width: 600px) {
    .app header h1 {
      font-size: 2rem!important;
    }
    .header-content .header-content-right > img {
      height: 300px;
      width: 300px;
    }
  }